<header>
    <h2 class="title">DODAWANIE REJESTRU</h2>
</header>

<section>
    <!-- Panel to add new registry -->
    <div>
        <h2 class="hide">Dodaj pozycję w rejestrze</h2>
        <form action="#">
            <fieldset name="registry">
                <div>
                    <input type="text" placeholder="Wpisz nazwę rejestru" name="name" id="name" />
                </div>

                <br />

                <div>
                    <select id="type" name="type[]">
                        <option value="volvo" selected="selected" disabled>Wybierz typ rejestru</option>
                        <option ng-repeat="registry in vm.registries" value="{{ registry.type }}">{{
                            registry.typeName }}</option>
                    </select>
                </div>

            </fieldset>
            <button type="submit" class="add" ui-sref="home">ZAPISZ</button>
        </form>
    </div>
</section>