<tr ng-repeat="position in vm.positions">
    <td width="20px"><input type="checkbox" id="{{ position.id }}"></td>
    <td>{{ position.id }}</td>
    <td contenteditable="false" >{{ position.brand }}</td>
    <td contenteditable="false">{{ position.model }}</td>
    <td contenteditable="false">{{ position.registrationNumber }}</td>
    <td contenteditable="false">{{ position.others }}</td>
    <td contenteditable="false">{{ position.insurer }}</td>
    <td contenteditable="false">{{ position.terms['OC'] }}</td>
    <td contenteditable="false">{{ position.terms['AC'] }}</td>
    <td contenteditable="false">{{ position.terms['ASS'] }}</td>
    <td contenteditable="false">{{ position.terms['Review'] }}</td>
</tr>
<tr class="hide">
    <td colspan="11" class="down">
        <div class="check"><a href="#" class="check"><i class="fa fa-check"></i></a></div>
    </td>
</tr>