@import "imports/reset", "imports/mixins";
// Setup colors
$leftPanelColor:   #656565;
$rightPanelColor:  #f2f2f2;
$addButton:        #f16c1e;
$buttonFrameColor: #c0c0c0;
$searchFrameColor: #e4e4e4;
$editButtonColor:  #bbbbbb;
$primColor:        #f16c1e;
$secColor:         #656565;
$hotColor:         #d02a2a;
$greenColor:       #53bd18;
$rej-1Color:       #9ce1ae;

// Setup proportions
$small:  480px;
$medium: 768px;
$large:  1024px;

// Setup fonts & others
$mainFont: 16;
$basic: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
$border: 1px #c4c4c4 solid;

html {
  font-size:   $mainFont + px;
  height:      100%;
  width:       100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  width:  100%;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  outline:         none;
  color:           white;
}
#main {
  float:            left;
  height:           100%;
  max-width: 60em;
  margin: 2em auto;
  width:            90%;
  max-height:       100%;
  background-color: white;
  position: relative;
}

.panel {
  font-family:      $basic;
  top:              0;
  display:          inline-block;
  vertical-align:   top;
  height:           100%;
  background-color: $secColor;
  position: relative;

  &.left {
    background-color: $secColor;
    float:            left;
    left:             0;
    width:            10%;
  }

  &.right {
    @include font-size(14);

    float:            left;
    width:            30%;
    background-color: #f2f2f2;
    position:         absolute;
    left:             10%;
    color:            $secColor;
  }
}

.left ul {
  display: block;
  margin-top: 40px;

  li {
    a {
      @include font-size(13);
      display: block;
      padding: 18px 25px;
      color: white;

      &:hover {
        @include transition(background-color);
        @include box-shadow(0 4px 12px rgba(0,0,0,.7));
        background-color: #5d5d5d;
        @include font-size(14);
      }

      &.selected {
        background-color: $primColor;
      }
    }
  }
}

.add {
  @include font-size(13);
  display:          block;
  //border-radius:    10px;
  margin:           17px auto 0 auto;
  background-color: $primColor;
  width:            140px;
  text-align:       center;
  padding:          18px 1px;
  color:            white;
  white-space:      nowrap;
  letter-spacing:   1px;
  text-transform:   uppercase;

  &:hover {
    @include box-shadow(0 4px 12px rgba(0,0,0,.7));
  }
}

.right.hide {
  width: 0px;
  overflow: hidden;
  @include transition(width)
}
.right.show {
  width: 20%;
  @include transition(width)
}

nav ul {
  li {
    display: inline-block;
  }

}

.options {
  @include font-size(14);
  position: absolute;
  @include border-radius(12px);
  border: 1px #c0c0c0 solid;
  padding: 10px;
}
.options.top {
  cursor: pointer;
  font-weight: bold;
  color: $secColor;

  &:hover {
    background-color: #f6f6f6;
    @include transition(all);
  }
}
#search {
  padding-right: 30px;
  color: $secColor;
  left: 840px;
  width: 250px;
  background: url("../images/lupa.png") right 7px center no-repeat;
  background-size: 20px;
  border: 1px #e4e4e4 solid
}

#add {
  left: calc(10% + 50px);
  i {
    color: $greenColor;
  }
}
#remove {
  left: calc(10% + 350px);
  i {
    color: $hotColor;
  }
}
#edit {
  left: calc(10% + 165px);
}

#content {
  clear: both;
  margin-top: 40px;
}