@import "imports/reset", "imports/mixins";
// Setup colors
$leftPanelColor:   #656565;
$rightPanelColor:  #f2f2f2;
$addButton:        #f16c1e;
$buttonFrameColor: #c0c0c0;
$searchFrameColor: #e4e4e4;
$editButtonColor:  #bbbbbb;
$primColor:        #f16c1e;
$secColor:         #656565;
$hotColor:         #d02a2a;
$greenColor:       #53bd18;
$rej-1Color:       #9ce1ae;

// Setup proportions
$small:  480px;
$medium: 768px;
$large:  1024px;

// Setup fonts & others
$mainFont: 16;
$basic: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
$border: 1px #c4c4c4 solid;

html {
  font-size:   $mainFont + px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width:  $large;
}

.left {
  float: left;
  font-family: $basic;

  .show_registries {
    background-color: $leftPanelColor;
    min-height: 100%;
    width: 19.091796875%;
    position: absolute;
    text-align: center;
  }

  .add_registries {
    text-align: center;
    margin: auto;
    background-color: $rightPanelColor;
    width: 19.091796875%;
    min-height: 100%;
    left: 19.091796875%;
    position: absolute;
    z-index: 1;
  }
}
.push_down {
  padding-top: 23.3px;
}
.title {
  width: 100%;
  background-color: $searchFrameColor;
  color: $leftPanelColor;
  height: 46.6px;
  line-height: 46.6px;
  margin-top: 23.3px;
  //@include font-size(17);
}
.show_registries {
  header {
    color: white;
  }
}

.add_registries section {
  padding-top: 23.3px;
}

.pos_title {
  width: 100%;
  background-color: $searchFrameColor;
  color: $leftPanelColor;
  height: 46.6px;
  line-height: 46.6px;
  top: 23.3px;
  @include font-size(17);
}

.add_position {
  text-align: center;
  background-color: $rightPanelColor;
  width: 100%;
  min-height: 20%;
  z-index: 1;
}

.position_form {
  padding-top: 23.3px;
}


.content {
  left: 19.091796875%;
  float: left;
  background-color: white;
  height: 100%;
  position: absolute;
  width: 80.908203125%;
}

.hide, .add_registries.hide {
  width: 0;
  @include transition(width, .05s);
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.show, .add_registries.show {
  width: 19.091796875%;
  @include transition(width, .1s);
}

button {
  width: 150px;
  height: 46.6px;;
  background-color: $primColor;
  border: none;
  outline: none;
  color: white;

  &:hover {
    @include box-shadow(0 3px 6px rgba(0, 0, 0, 0.9));
  }
}
.add {
  margin: 23.3px auto;

}

ul[class="list"] {
  padding: 0;
  text-align: center;


  li {
    height: 46.6px;
    line-height: 46.6px;
    &:hover {
      @include box-shadow(0 3px 6px rgba(0, 0, 0, 0.9));
      @include font-size(17);
    }

    a {
      text-decoration: none;
      outline: none;
      color: white;
      &:hover {

      }
    }
  }
}
.selected {
  background-color: $primColor;
}

.buttons {
  height: 46.6px;
}

main {;
  height: calc(100% - 46.6px);
}

::-webkit-input-placeholder { text-align: center;}
::-moz-placeholder { text-align: center;} /* firefox 19+ */
:-ms-input-placeholder {  text-align: center;} /* ie */
input:-moz-placeholder { text-align: center;}

fieldset[name="registry"] {
  font:80%/1 sans-serif;

  input, select{
    box-sizing: border-box;
    padding: .1em;
    width: 155px;
    height: calc(93px / 2);
    border: 1px solid $searchFrameColor;
    @include border-radius(10px);
    outline: none;
  }
}

fieldset[name="position"] {
  font: $basic;

  input, select {
    font: $basic;
    box-sizing: border-box;
    padding: .1em;
    width: 155px;
    height: calc(93px / 2);
    border: 1px solid $searchFrameColor;
    @include border-radius(10px);
    -webkit-border-radius: 0px 10px 10px 0;
    -moz-border-radius: 0px 10px 10px 0;
    border-radius: 0px 10px 10px 0;
    outline: none;
    @include font-size(16);
    text-align: center;
  }
  input[type="date"] {
    width: 180px;
  }

  textarea {
    box-sizing: border-box;
    padding: .1em;
    width: 155px;
    border: 1px solid $searchFrameColor;
    @include border-radius(10px);
    outline: none;
  }
}
label {
  padding-left: 15px;
  margin: .1em;
  display: inline-block;
  line-height:calc(93px / 2);
  background-color: $searchFrameColor;
  @include border-radius(10px);
  color: $leftPanelColor;
}