/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 1024px;
}

a {
  text-decoration: none;
  outline: none;
  text-align: center;
  vertical-align: middle;
  line-height: 46.6px;
}

.left {
  float: left;
  font-family: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
}
.left .show_registries {
  background-color: #656565;
  min-height: 100%;
  width: 19.091796875%;
  position: absolute;
  text-align: center;
}
.left .add_registries {
  text-align: center;
  margin: auto;
  background-color: #f2f2f2;
  width: 19.091796875%;
  min-height: 100%;
  left: 19.091796875%;
  position: absolute;
  z-index: 1;
}

.push_down {
  padding-top: 23.3px;
}

.title {
  width: 100%;
  background-color: #e4e4e4;
  color: #656565;
  height: 46.6px;
  line-height: 46.6px;
  margin-top: 23.3px;
}

.show_registries header {
  color: white;
}

.add_registries section {
  padding-top: 23.3px;
}

.pos_title {
  width: 100%;
  background-color: #e4e4e4;
  color: #656565;
  height: 46.6px;
  line-height: 46.6px;
  top: 23.3px;
  font-size: 1.0625rem;
}

.add_position {
  display: none;
  text-align: center;
  background-color: #f2f2f2;
  width: 100%;
  min-height: 20%;
  z-index: 1;
}

.position_form {
  padding-top: 23.3px;
}

.position {
  margin: 23.3px;
}

.content {
  left: 19.091796875%;
  float: left;
  background-color: white;
  height: 100%;
  position: absolute;
  width: 80.908203125%;
}

.hide, .add_registries.hide {
  width: 0;
  -webkit-transition: width 0.05s ease-in-out;
  -moz-transition: width 0.05s ease-in-out;
  -o-transition: width 0.05s ease-in-out;
  transition: width 0.05s ease-in-out;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.show, .add_registries.show {
  width: 19.091796875%;
  -webkit-transition: width 0.1s ease-in-out;
  -moz-transition: width 0.1s ease-in-out;
  -o-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
}

button {
  width: 150px;
  height: 46.6px;
  background-color: #f16c1e;
  border: none;
  outline: none;
  color: white;
}
button:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
}

.add {
  margin: 23.3px auto;
}

ul[class="list"] {
  padding: 0;
  text-align: center;
}
ul[class="list"] li {
  height: 46.6px;
  line-height: 46.6px;
}
ul[class="list"] li:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
  font-size: 1.0625rem;
}
ul[class="list"] li a {
  text-decoration: none;
  outline: none;
  color: white;
}

.selected {
  background-color: #f16c1e;
}

.buttons {
  margin: 23.3px 10px 23.3px 23.3px;
}

.btn {
  font-size: 0.875rem;
  display: inline-block;
  border: 1px #c0c0c0 solid;
}
.btn i {
  margin-right: 5px;
}

.addpos, .removepos, .modifypos {
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  height: 46.6px;
  background-color: #f6f6f6;
  color: #656565;
}
.addpos:hover, .removepos:hover, .modifypos:hover {
  background-color: #e0e0e0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.addpos i {
  margin-right: 5px;
  color: #53bd18;
}

.check {
  cursor: pointer;
  width: 150px;
  height: 46.6px;
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
}
.check i {
  color: #d02a2a;
  text-align: center;
  font-size: 1.5625rem;
  margin: 0 auto;
  padding: 0 auto;
}
.check i:hover {
  color: #53bd18;
}

.down {
  background-color: #f2f2f2;
}

.removepos i {
  margin-right: 5px;
  color: #d02a2a;
}

main {
  height: calc(100% - 46.6px);
}

::-webkit-input-placeholder {
  text-align: center;
}

::-moz-placeholder {
  text-align: center;
}

/* firefox 19+ */
:-ms-input-placeholder {
  text-align: center;
}

/* ie */
input:-moz-placeholder {
  text-align: center;
}

fieldset[name="registry"] {
  font: 80%/1 sans-serif;
}
fieldset[name="registry"] input, fieldset[name="registry"] select {
  box-sizing: border-box;
  padding: .1em;
  width: 155px;
  height: calc(93px / 2);
  border: 1px solid #e4e4e4;
  outline: none;
}

fieldset[name="position"] {
  font: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
  vertical-align: middle;
}
fieldset[name="position"] input, fieldset[name="position"] select, fieldset[name="position"] input[type="file"] {
  font: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
  box-sizing: border-box;
  width: 155px;
  height: calc(93px / 2);
  border: 1px solid #e4e4e4;
  outline: none;
  font-size: 1rem;
  text-align: center;
}
fieldset[name="position"] input[type="date"] {
  width: 180px;
}
fieldset[name="position"] > div {
  display: inline-block;
}
fieldset[name="position"] textarea {
  width: 505px;
  border: 1px solid #e4e4e4;
  vertical-align: middle;
  font: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
  /*-webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;*/
  font-size: 1rem;
  outline: none;
}
fieldset[name="position"] input[type="file"] {
  background-color: #fff;
  margin: 0;
  padding: 0;
  outline: none;
}

label {
  vertical-align: middle;
  text-align: right;
  margin: .1em;
  padding: 0;
  display: inline-block;
  line-height: calc(93px / 2);
  background-color: #e4e4e4;
  color: #656565;
}

.grid {
  width: 500px;
  height: 250px;
}

/*# sourceMappingURL=madkom.css.map */
