<div>
    <h1 class="hide">Strona główna</h1>

    <!-- SHOW ALL REGISTRIES -->
    <div class="show_registries" style="position: fixed;"></div>
    <article class="show_registries">

        <header>
            <button class="add register" ng-init="showBar=false" ng-click="showBar = !showBar" ui-sref="homeView.registry"><i>+</i> DODAJ REJESTR</button>
        </header>
        <section ng-repeat="registry in vm.registries">
            <h2 class="hide">Lista rejestrów</h2>
            <ul class="list">
                <li class="{{ registry.selected }}" >
                    <a href="../web/rejestry/{{ registry.id }}">{{ registry.name }}</a>
                </li>
            </ul>
        </section>
    </article>

    <article class="add_registries" ng-class="showBar ? 'show' : 'hide' " ui-view="addRegistryView">

    </article>
</div>