@mixin font-size($size) {
  font-size: ($size / $mainFont) + rem;
}

@mixin transition($prop, $time: 0.2s) {
  -webkit-transition: $prop $time ease-in-out;
  -moz-transition: $prop $time ease-in-out;
  -o-transition: $prop $time ease-in-out;
  transition: $prop $time ease-in-out;
}

@mixin box-shadow($shadows...) {
  -webkit-box-shadow: $shadows;
  -moz-box-shadow:    $shadows;
  box-shadow:         $shadows;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin placeholder-center() {
  ::-moz-placeholder {
    text-align: center;
  }
  ::-webkit-input-placeholder {
    text-align: center;
  }
  :-ms-input-placeholder {
    text-align: center;
  }
}